---
import Layout from '@/layouts/Layout.astro';

import Formulario from '@/components/sections/formulario.astro';
import {basics} from '@cv';
const {name, label} = basics;
import KeyboardManager from '@/components/KeyboardManager.astro';
---

<Layout title={`Portafolio de ${name} - ${label}`}>
	<main>
		<!-- En index.astro -->
        <a href="/">pagina real</a>

        <Formulario />

	</main>

	<KeyboardManager />

	<teclado />

	
</Layout>

<style>

	main{
		padding: 4rem;
		margin: auto;
		width: 100%;

	}
	
</style>
